nav {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #c3d5ee;
  width: 260px;
  height: 100vh;
}
.sidebar_title {
  display: flex;
  align-items: center;
  padding: 32px 16px;
}
.sidebar_title img {
  height: 48px;
  margin-right: 16px;
}
.sidebar_title h4 {
  font-family: ff-primary;
  font-size: 18px;
  color: #333333;
}
.sidebar_content {
  display: flex;
  flex-direction: column;
  padding: 0 16px;
}
.sidebar_content hr {
  border-color: #749dd8;
  border-width: 1px;
  margin-bottom: 8px;
}
.sidebar_content a {
  display: block;
  font-family: ff-primary;
  font-size: 16px;
  font-weight: 500;
  color: #333333;
  text-decoration: none;
  padding: 8px;
  margin-bottom: 8px;
  border-radius: 6px;
}
.sidebar_content a.active,
.sidebar_content a:hover {
  background-color: #749dd8;
}
.sidebar_content a.active {
  font-weight: 600;
}
